.portFolioItems{
    border:  1px solid black;
    position: relative;
    padding: 3%;
  }
  
  .addButton, .delete, .cancel, .save {
    padding: 5px;
    margin: 1px;
    border-radius: 2px;
  }
  
  .addButton{
    float: left;
  
    border-radius: 2px;
  }
  .delete{
    right: 10px; 
  }
  
  h1 {
    font-size: 1rem;
  }
  
  input[type=text]{
  
    width: 100%;
    padding: 3%;
  }
  
  .errorMessage{
    background-color: #F3D8DB;
    color: #692327;
    padding: 2%;
    margin: 2%;
  }