<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="first">
          <h4>Venta de</h4>
          <p>Vacas</p>
          <p>Cerdos</p>
          <p>Gallinas</p>
          <p>Caballos</p>
          <p>Toros</p>
          <p>Entre otros...</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="second">
          <h4>Navegación</h4>
          <ul class="p-0">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                href="#"
                >Inicio</a
              >
            </li>
            <li>
              <a
                routerLink="/comprobante"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                href="#"
                >Comprobante</a
              >
            </li>
            <li>
              <a
                routerLink="/landing"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                href="#"
                >Acerca de</a
              >
            </li>
            <li>
              <a
                routerLink="/transacciones"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                href="#"
                >Transacciones</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                href="#"
                >Iniciar Sesión</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="third">
          <h4>Contacto</h4>
          <ul style="font-size:14px;">
            <li>Andreea Mihaela Bunget</li>
            <li></li>

            <li><i class="far fa-envelope"></i> andreea@andreeabunget.com</li>
            <li><i class="far fa-envelope"></i> email@yahoo.com</li>

            <li><i class="fas fa-map-marker-alt"></i> Santo Domingo, EC</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="line"></div>
        <div class="second2">
          <p class="text-white">
            Universidad de las Fuerzas Armadas ESPE. Derechos reservados
          </p>
          <p class="text-white">Jhanira A., Anthony G., Bryan S., Carlos L.</p>
        </div>
      </div>
    </div>
  </div>
</div>
