<app-template></app-template>

<section>
  <div class="container p-5">
    <!-- For demo purpose -->
    <div class="row mb-4 text-center text-white">
      <div class="col-lg-10 mx-auto">
        <p class="lead">A continuación, suba su comprobante de pago.</p>
      </div>
    </div>
    <!-- End -->

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="p-5 bg-white shadow rounded-lg">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png"
            alt=""
            width="200"
            class="d-block mx-auto mb-4 rounded-pill"
          />

          <div class="custom-file overflow-hidden rounded-pill mb-5">
            <input
              id="customFile"
              type="file"
              class="custom-file-input rounded-pill"
            />
            <label for="customFile" class="custom-file-label rounded-pill"
              >Buscador</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
